@{
    ViewBag.Title = "About";
}



<div>
    <img src="~/images/about.jpg" class="fontr">

</div>

<div class="about">
    <h3>
        <font size="5">
            ‘FRANKTON FRESH’ is focused on getting the joy your festival. We guarantee the quality in every single step of assembling the food and we also provide the best vegetables iteams and groceries. Almost every brands items are available here.   <br>
            <br>
            We utilize quality material to make your food tasty, delicious and solid. Appropriate from the little children to senior individuals anybody can eat our food product with no question in their brain. We get our bread shop items tried by the business specialists to guarantee the nature all things considered.
        </font>
    </h3>
</div>
