@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<div>

    <img src="images/font.jpg" class="fontr">

</div>
<br>
<br>

<div>
    <img src="images/pro1.jpg" class="font2">
    <img src="images/pic.jpeg" class="font3">

</div>
<br>
<br>